/* app/assets/stylesheets/application.css */

/* Log In Styles */
.log-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .log-in-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .log-in-form {
    width: 300px;
    text-align: center;
  }
  
  .field {
    margin-bottom: 20px;
  }
  
  .field-label {
    display: block;
    font-weight: bold;
  }
  
  .field-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .remember-me-checkbox {
    margin-right: 5px;
  }
  
  .remember-me-label {
    font-weight: normal;
  }
  
  .log-in-button {
    background-color: #1877f2; /* Facebook Blue Color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .log-in-button:hover {
    background-color: #0d6efd; /* Darker Blue Color */
  }
  
  .links-section {
    margin-top: 20px;
  }
  
  .links-section a {
    color: #1877f2; /* Facebook Blue Color */
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
  }
  
  .links-section a:hover {
    color: #0d6efd; /* Darker Blue Color */
  }
  